.logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    font-size: 25px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .inter {
    font-family: 'Inter';  }